.homeClients {
    text-align: center;
    position: relative;
    padding-bottom: 200px;

    hr {
        padding-bottom: 100px;
        
        @media only screen and (min-width: 992px) {
            padding-bottom: 40px;
        }
    }
}

.homeClients__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    img {
        width: 100%;
    }

    @media only screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
    }
}

.homeClients__grid__client {
    @include boxshadow;
    @include curvedborder;
    padding: 20px;
    margin-top: 40px;

    img {
        width: 100%;
    }

    @media only screen and (min-width: 992px) {
        padding: 40px 20px;
        margin: 80px 0;
        min-height: 425px;
    }
}

.homeClients__grid__client__info {
    img {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    @media only screen and (min-width: 992px) {
        display: flex;
        align-items: center;

        img {
            margin-right: 20px;
            margin-bottom: 0;
        }

        .homeClients__grid__client__info__text {
            text-align: left;
        }
    }
}

.homeCLients__grid__client__quote {
    margin-top: 20px;
    text-align: left;
    color: $bh-grey;
    
}

.homeClients__wavyDiv {
    background: white;
    position: absolute;
    bottom: -2px;
    left: 0;

    path {
        fill: lightgrey;
    }
}