.homeServices {
    padding: 80px 0;
    text-align: center;
    position: relative;

    @media only screen and (min-width: 992px) {
        padding: 80px 0 180px 0;
    }
}

.homeServices__panels {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 80px 0;
    margin: 0 10px;

    @media only screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
    }
}

.homeSerivces__panel__img {
    @include curvedborder;
    width: 100%;
    object-fit: contain;
}

.homeServices__panel {
    // @include boxshadow;
    // @include curvedborder;
}

.homeServices__panel__text {
    padding: 20px 0;

    p {
        padding: 0 20px;
        margin-bottom: 20px;
    }
}

.homeServices__wavyDiv {
    background: white;
    position: absolute;
    left: 0;
    bottom: -1px;

    path {
        fill: lightgrey;
    }
}
