.homeHero {
    text-align: center;
    background: rgb(151,168,214);
    background: linear-gradient(to bottom right, rgba(55, 55, 55, 0.6), rgba(138, 138, 138, 0.8)), url('../../static/assets/multicolour.jpg') no-repeat 50% fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 600px;
    display: flex;

    @media only screen and (min-width: 1400px) {
        min-height: 800px;
    }
}

.homeHero__text {
    margin: auto auto;

    h1 {
        @include textshadow;
        color: white;
        line-height: 50px;

        @media only screen and (min-width: 992px) {
            line-height: auto;
        }
    }

    h2 {
        color: white;
        margin-bottom: 20px;
    }
    button {
        z-index: 100;
    }
}

.homeHero__wavyDiv {
    position: absolute;
    width: 100%;
    bottom: -1px;
}

.homeHero__wavyDiv path {
    fill: #fff;
}
