.homeAbout {
    background: lightgrey;
    position: relative;
    padding-bottom: 80px;

    @media only screen and (min-width: 992px) {
        padding-bottom: 180px;
    }
}

.homeAbout__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 40px 0 60px 0;
    img {
        width: 100%;
    }

    @media only screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
    }
}

.homeAbout__content__text {
    padding: 0 20px;

    h2 {
        padding-bottom: 40px;
    }

    p {
        padding-bottom: 20px;
    }

    button {
        margin-top: 20px;
    }
}

.homeAbout__wavyDiv {
    background: lightgrey;
    position: absolute;
    bottom: -4px;
    left: 0;

    path {
        fill: white;
    }
}