.homeHero {
    text-align: center;
    background: rgb(151,168,214);
    background: linear-gradient(to bottom right, rgba(55, 55, 55, 0.4), rgba(225, 225, 225, 0.4)), url('../../static/assets/lake.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    // height: 100vh;
    min-height: 600px;
    // max-height: 500px;
    display: flex;
}

.homeHero__text {
    margin: auto auto;
    h1 {
        @include textshadow;
        color: white;
    }
    h2 {
        color: white;
        margin-bottom: 20px;
    }
}

.homeHero__wavyDiv {
    position: absolute;
    // bottom: 25px;
    width: 100%;
    bottom: 0;
}

.homeHero__wavyDiv path {
    fill: #fff;
}
