.contactBox {
    padding-top: 80px;
    background: lightgrey;
    text-align: center;
    position: relative;
}

.contactBox__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 0 80px 0;
    div {
        input, select, button {
            width: 90%;
            margin: 10px auto;
        }
    }
}

