.footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 40px 0;

    div {
        margin-bottom: 20px;
    }

    h3 {
        margin-bottom: 20px;
    }

    li {
        margin-bottom: 10px;
    }

    .navbar__links__link {
        margin-left: 0;
    }

    .navbar__logo {
        margin-left: 20px;
        max-width: 90px;
    }

    @media only screen and (min-width: 992px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: left;

        .footer__grid__col1 {
            grid-row-start: 1;
        }

        .navbar__links__link {
            margin-left: 20px;
        }
    }
}

.footer__grid__col1 {
    h3 {
        margin-top: 30px;
    }

    .footer__grid__socialLinks {
        padding-top: 30px;

        svg, i {
            margin-right: 10px;
            color: $bh-grey;
            font-size: 1.4em;
            transition: color 0.2s;

            &:hover {
                color: $bh-blue;
                cursor: pointer;
                @include colorTransition;
            }
        }
    }
}
