.navbar__wrapper {
    @include boxshadow;
}

.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    max-width: 200px;
}

.navbar__links {
    display: inline;
}

.navbar__links__link {
    margin-right: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
    // font-weight: 600;
    &:hover {
        border-bottom: 2px solid $bh-blue-very-light;
        cursor: pointer;
    }
}