.navbar__wrapper {
    @include boxshadow;
}

.navbar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.navbar__logo {
    max-width: 200px;
}

.navbar__links {
    display: none;

    @media only screen and (min-width: 992px) {
        display: inline;
    }
}

.navbar__links__link {
    margin-left: 20px;
}

.navbar__socialLinks {
    text-align: right;
    padding-bottom: 20px;

    svg, i {
        margin-left: 20px;
        color: $bh-grey;
        font-size: 1.4em;
        &:hover {
            color: $bh-blue;
            cursor: pointer;
        }
    }
}

.navbar__hamburger {
    @media only screen and (min-width: 992px) {
        display: none;
    }
}

.navbar__slideout {
    padding-top: 20px;
}

.navbar__slideout__link {
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}